<form class="form-horizontal" name="productForm">
    <fieldset>
        <legend>Basic Product Information</legend>
        <div class="form-group">
            <label class="col-md-2 control-label" for="inputProductName">Product Name</label>
            <div class="col-md-4">
                <input class="form-control" type="text" id="inputProductName" placeholder="Product Name" ng-model="vm.product.productName"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="inputProductCode">Description</label>
            <div class="col-md-10">
                <input class="form-control" type="text" id="inputProductCode"
                       ng-model="vm.product.productCode" ui-mask="AAA-****"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="inputAvailabilityData">Availability</label>
            <div class="col-md-4">
                <div class="input-group">
                    <input class="form-control" type="text" id="inputAvailabilityData"
                           datepicker-popup="MMM dd, yyyy " ng-model="vm.product.releaseDate" is-open="vm.opened"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="vm.open($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="inputDescription">Description</label>
            <div class="col-md-10">
                <textarea class="form-control" type="text" id="inputDescription" placeholder="Description"
                          rows="3" ng-model="vm.product.description"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button ng-click="vm.submit()" class="btn btn-primary" style="width: 80px;margin-right: 10px;">
                    Save
                    </button>
                </span>
                <span>
                    <button ng-click="vm.cancel()" class="btn btn-default" style="width: 70px">
                        Cancel
                    </button>
                </span>
            </div>
        </div>
    </fieldset>
</form>